<div>
    <span class="text-lg">{{::chartTitle}}</span>
    <button class="btn-circle btn-small pull-left"
            ng-click="toggleChartSize(chart);"
            uib-tooltip-html="expanded ? 'عرض بحجم أصغر' : 'عرض بحجم أكبر'"
            tooltip-placement="auto"
            tooltip-append-to-body="true"
            type="button">
        <i ng-class="expanded ? 'fa fa-compress' : 'fa fa-expand'"></i>
    </button>
    <div class="reset" style="visibility: hidden;">
        <i class="fa fa-filter gray-light"> |</i>
        <span class="filter"></span>
        <a href="" ng-click="resetChart(chart)">reset</a>
    </div>
</div>
